/cache
/public/compress/compile/*
!/public/compress/compile/.gitkeep
/download
/include
/projects
/spider
/stack
/tmp
/temp
/landpages
/static
/prepare_forms
/converter
/pdf
/public/sitemap.xml
/public/robots.txt
/survey
/pdfs
/public/images/uploads_to_all
/alpha
/cron/fillable/
/public/js/ng-app.js
/livehelp/include/database.php
/consul/define_files/define_[0-9]*.php

/cron/seo1000/*
/public/images/landings/*
/public/flash/localize_assets
/tickets
/chat

logs/*
log/*
templates_c/*
*/templates_c/*

/vendor/

/tests/_output/*
/tests/_support/_generated/*.php

npm-debug.log
public/angular/node_modules
public/js/doccreator/node_modules
public/js/doccreator/package-lock.json

.DS_Store
.idea